.white {
  top: -145px;
  position: fixed;
  z-index: 100;
  height: 60%;
  right: 0;
  width: 100%;
}


.advertising {
  top: 300px;
  position: absolute;
  /* right: -9%; */
  /* padding-left: 3%; */
}

.advertising-box-long {
  margin-bottom: 50px;
  cursor: pointer;
}

.advertising-lg {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.advertising-box-square {
  cursor: pointer;
}

.advertising-sq {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 480px) {
  .advertising {
    top: 264px;
    right: 9%;
  }
  .advertising-lg {
    height: 200px;
    width: 96px;
  }
  .advertising-sq {
    height: 100px;
    width: 96px;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 481px) and (max-width: 768px) {
  .advertising {
    top: 325px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 769px) and (max-width: 1024px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1025px) and (max-width: 1200px) {

}


@media (min-width: 1201px) and (max-width: 1366px) {

}

@media (min-width: 1367px) {

}
