.white {
  top: -145px;
  position: fixed;
  z-index: 100;
  height: 60%;
  right: 0;
  width: 100%;
}


.advertising {
  top: 300px;
  position: absolute;
  /* right: -9%; */
  /* padding-left: 3%; */
}

.advertising-box-long {
  margin-bottom: 50px;
  cursor: pointer;
}

.advertising-lg {
  height: 400px;
  width: 210px;
  object-fit: cover;
  border-radius: 20px;
}

.advertising-box-square {
  cursor: pointer;
}

.advertising-sq {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px;
}

/*iphone 5/SE portrait*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 568px)
and (orientation : portrait) {
    .advertising {
    top: 250px;
    right: 7%;
  }
  .advertising-lg {
    height: 173px;
    width: 80px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 54px;
    width: 80px;
    border-radius: 10px;
  }
    .white {
    height: 62.1%;
    right: 0;
  }
}

/*Galaxy S5 portrait*/
@media only screen
and (min-device-width : 360px) and (max-device-width : 640px)
and (orientation : portrait) {
  .advertising {
    top: 250px;
    right: 7%;
  }
  .advertising-lg {
    height: 173px;
    width: 90px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 54px;
    width: 90px;
    border-radius: 10px;
  }
    .white {
    height: 62.1%;
    right: 0;
  }
}

/*iPhone 6, 7, & 8 portrait*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 667px)
and (orientation : portrait) {
  .advertising {
    top: 250px;
    right: 6%;
  }
  .advertising-lg {
    height: 173px;
    width: 90px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 54px;
    width: 90px;
    border-radius: 10px;
  }
    .white {
    height: 59.1%;
    right: 0;
  }
}

/*iPhone 6, 7, & 8 landscape*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 667px)
and (orientation : landscape) {
  .advertising {
    top: 250px;
  }
  .advertising-lg {
    height: 186px;
    width: 120px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 76px;
    width: 120px;
    border-radius: 10px;
  }
  .white {
    height: 107%;
  }
}

/*iPhone 6, 7, & 8 Plus portrait*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

}

/*iPhone 6, 7, & 8 Plus landscape*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
   .white {
    height: 107%;
  }
}


/*iPhone X portrait*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
  .advertising {
    top: 250px;
    right: 5%;
  }
  .advertising-lg {
    height: 141px;
    width: 94px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 64px;
    width: 94px;
    border-radius: 10px;
  }
  .white {
    height: 49%;
    right: 0px;
  }
}

/*iPhone X landscape*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
  .advertising {
    top: 250px;
  }
  .advertising-lg {
    height: 141px;
    width: 94px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 64px;
    width: 94px;
    border-radius: 10px;
  }
  .white {
    height: 108.4%;
  }

}

/*iPad portrait*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : portrait){
  .advertising {
    top: 268px;
  }
  .advertising-lg {
    height: 221px;
    width: 145px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 96px;
    width: 145px;
    border-radius: 10px;
  }
    .white {
    height: 35%;
  }
}

/*iPad landscape*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : landscape){
  .advertising {
    top: 268px;
  }
  .advertising-lg {
    height: 221px;
    width: 145px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 96px;
    width: 145px;
    border-radius: 10px;
  }
}

/*iPad PRO portrait*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : portrait) {
  .advertising {
    right: 3%
    top: 250px;
  }
  .advertising-lg {
    height: 221px;
    width: 151px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 96px;
    width: 151px;
    border-radius: 10px;
  }
  .white {
    height: 28%;
  }
}

/*iPad PRO andscape*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : landscape) {
  .advertising{
    right: 3%
    top: 250px;
  }
  .advertising-lg {
    height: 250px;
    width: 170px;
    border-radius: 10px;
  }
  .advertising-sq {
    height: 120px;
    width: 170px;
    border-radius: 10px;
  }
  .white {
    height: 28%;
  }
}

