.cards {
  margin-left: 30%;
  width: 40%;
}

.item-card {
  height: 337px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5%;
}

.item-card:hover {
  cursor: pointer;
}

.item-img {
 height: 200px;
  width: 100%;
  object-fit: cover;
}

.item-card h5 {
  color: #2D132C;
  font-size: 16px;
  margin: 0;
}

.item-card p {
  color: #2D132C;
  font-size: 12px;
  opacity: .7;
}


.user {
  display: flex;
  padding: 5px;
  font-weight: lighter;
}

.profile-pic {
  width: 30px;
  border-radius: 50px;
}

.username {
  margin-top: 9px;
  margin-left: 5px;
  color: #2D132C;
}

.item-info {
  margin-right: 20px;
  margin-left: 20px;
}

.tags {
  display: flex;
  justify-content: space-around;
}

.tags p {
  font-weight: bolder;
}

.tag {max-width: 58px;}

.description {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  padding-right: 1em;
}
/* create the ... */
.description:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.description:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


@media (min-width: 320px) and (max-width: 767px){
  .tags {
    display: none;
  }
}
