.cards {
  /* margin-left: 30%; */
  /* width: 40%; */
  font-family: 'M PLUS 1p', sans-serif;
  padding-top: 305px;
}

.item-card {
  height: 337px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5%;
}

.item-card:hover {
  cursor: pointer;
}

.item-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.item-card h5 {
  color: #2D132C;
  font-size: 16px;
  margin: 0;
}

.item-card p {
  color: #2D132C;
  font-size: 12px;
  opacity: .7;
}


.user {
  display: flex;
  padding: 5px;
  font-weight: lighter;
}

.profile-pic {
  width: 30px;
  border-radius: 50px;
}

.username {
  margin-top: 9px;
  margin-left: 5px;
  color: #2D132C;
}

.item-info {
  /* z-index: -1; */
  margin-right: 20px;
  margin-left: 20px;
}

.tags {
  display: flex;
  justify-content: space-around;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.tags p {
  font-weight: bolder;
}

.tag {
  max-width: 58px;
}

.description {
  margin-bottom: 5px;
  margin-top: 5px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  padding-right: 1em;
}
/* create the ... */
.description:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.description:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/*iphone 5/SE portrait*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 568px)
and (orientation : portrait) {
    .tags {
    display: none;
  }
  .cards {
    padding-top: 250px;
  }
  .description {
    font-size: 12px;
  }
}

/*Galaxy S5 portrait*/
@media only screen
and (min-device-width : 360px) and (max-device-width : 640px)
and (orientation : portrait) {
  .tags {
    display: none;
  }
  .cards {
    padding-top: 250px;
  }
  .description {
    font-size: 12px;
  }
}

/*iPhone 6, 7, & 8*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 667px) {
  .tags {
    display: none;
  }
  .cards {
    padding-top: 250px;
  }
  .description {
    font-size: 12px;
  }
}

/*iPhone 6, 7, & 8 Plus portrait*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and (orientation : portrait) {

}


/*iPhone 6, 7, & 8 Plus landscape*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and (orientation : landscape) {

}


/*iPhone X */
@media only screen
and (min-device-width : 375px) and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .tags {
    display: none;
  }
  .cards {
    padding-top: 250px;
  }
}

/*iPad portrait*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .cards {
    padding-top: 268px;
  }
}

/*iPad landscape*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : landscape){
  .cards {
    padding-top: 268px;
  }
}

/*iPad PRO portrait*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : portrait) {
  .cards {
     padding-top: 250px;
  }
}

/*iPad PRO landscape*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : landscape) {
  .cards {
     padding-top: 250px;
  }
}
