#name {
  color: #512C96;
  padding-left: 30%;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

p, h1, h2, h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: lighter;
}

.button-group {
  width: 22%;
  margin-top: -133px;
  display: flex;
}

.mybtn1 {
  flex-grow: 4;
}

.mybtn2 {
  flex-grow: 4;
}

.mybtn {
  padding: 7px 25px;
  background: #512C96;
  border: 1px solid #512C96;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

nav {
  height: 69px;
}

a .mybtn{
  text-decoration: none;
}

.mybtn:hover {
  text-decoration: none;
  color: #ff0;
  box-shadow: 2px 3px 3px rgba(255, 204, 0, 0.5);
}

.mynav{
  margin-left: 5%;
  margin-top: -10px;
}

.note {
  height: 200px;
  position: relative;
}

.name {
  position: absolute;
  z-index: 1;
  margin-top: 45px;
}

.index-phrase {
  color: #512C96;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media (min-width: 320px) and (max-width: 767.98px){
  .button-group {
    width: 40%;
    margin-top: -30px;
  }
  .mybtn {
    padding: 6px 9px;
  }
  .note {
    height: 102px;
  }
  #name {
    font-size: 19px;
    padding-left: 16px;
    font-weight: lighter;
  }
  .name {
    margin-top: 28px;
  }
  .index-phrase {
    font-size: 20px;
    font-weight: lighter;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
  .index-phrase {
    font-size: 18px;
    font-weight: lighter;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
  .index-phrase {
    font-size: 26px;
    font-weight: lighter;
  }
}

