#name {
  color: #512C96;
  padding-left: 30%;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

.button-group {
  width: 22%;
  margin-top: -133px;
  display: flex;
}

.mybtn1 {
  flex-grow: 4;
}

.mybtn2 {
  flex-grow: 4;
}

.mybtn {
  padding: 7px 25px;
  background: #512C96;
  border: 1px solid #512C96;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

nav {
  height: 70px;
}

a .mybtn{
  text-decoration: none;
}

.mybtn:hover, a:hover {
  text-decoration: none;
  color: #ff0;
  box-shadow: 2px 3px 3px rgba(255, 204, 0, 0.5);
}

.mynav{
  margin-left: 5%;
  margin-top: -10px;
}

.note {
  height: 200px;
  position: relative;
}

.name {
  position: absolute;
  z-index: 1;
  margin-top: 45px;
}

@media only screen and (max-width: 600px) {
  .button-group {
    width: 40%;
    margin-top: -82px;
  }
  .mybtn {
    padding: 6px 9px;
  }
  .note {
    height: 150px;
  }
  #name {
    font-size: 22px;
  }
}
