.top {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  z-index: 500;
}

#name {
  color: #512C96;
  padding-left: 30%;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

p, h1, h2, h3 {
  font-family: 'M PLUS 1p', sans-serif;
}

.button-group {
  width: 22%;
  margin-top: -133px;
  display: flex;
}

.mybtn1 {
   flex-grow: 4;
}

.mybtn2 {
  flex-grow: 4;
}

#mybtn {
  width: 80%;
  background: #512C96;
  border: 1px solid #512C96;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

nav {
  height: 69px;
}

a .mybtn{
  text-decoration: none;
}

#mybtn:hover {
  text-decoration: none;
  color: #ff0;
  box-shadow: 2px 3px 3px rgba(255, 204, 0, 0.5);
}

.mynav{
  margin-left: 5%;
  margin-top: -10px;
}

.note {
  height: 200px;
  position: relative;
}

.name {
  position: absolute;
  z-index: 1;
  margin-top: 45px;
}


/*iphone 5/SE portrait*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 568px)
and (orientation : portrait) {
  .button-group {
    width: 59%;
    margin-top: -115px;
    margin-left: 40%;
  }
  #mybtn{
    font-size: 13px;
    width: 75%;
  }
  .mynav {
    margin-left: 0%;
  }
  .note {
    height: 95px;
  }
  #name {
    font-size: 17px;
    padding-left: 16px;
    font-weight: lighter;
  }
  .name {
    margin-top: 28px;
  }

}

/*Galaxy S5 portrait*/
@media only screen
and (min-device-width : 360px) and (max-device-width : 640px)
and (orientation : portrait) {
   .button-group {
    width: 63%;
    margin-top: -133px;
  }
  .mybtn {
    padding: 6px 9px;
  }
  .note {
    height: 102px;
  }
  #name {
    font-size: 19px;
    padding-left: 16px;
    font-weight: lighter;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPhone 6, 7, & 8 portrait*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 667px)
and (orientation : portrait) {
  .button-group {
    width: 54%;
    margin-top: -127px;
  }
  .mybtn {
    padding: 6px 9px;
  }
  .note {
    height: 102px;
  }
  #name {
    font-size: 19px;
    padding-left: 16px;
    font-weight: lighter;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPhone 6, 7, & 8 landscape*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 667px)
and (orientation : landscape) {
  .button-group {
    width: 40%;
    margin-top: -30px;
  }
  .mybtn {
    padding: 6px 9px;
  }
  .note {
    height: 102px;
  }
  #name {
    font-size: 19px;
    padding-left: 16px;
    font-weight: lighter;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPhone 6, 7, & 8 Plus portrait*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and (orientation : portrait) {
  .button-group {
    width: 40%;
    margin-top: -30px;
  }

}


/*iPhone 6, 7, & 8 Plus landscape*/
@media only screen
and (min-device-width : 414px) and (max-device-width : 736px)
and (orientation : landscape) {
  .button-group {
    width: 40%;
    margin-top: -30px;
  }

}

/*iPhone X portrait*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
  .button-group {
    width: 54%;
    margin-top: -120px;
    /* margin-right: -6%; */
  }
  .note {
    height: 101px;
  }
  #name {
    font-size: 18px;
    padding-left: 15px;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPhone X landscape*/
@media only screen
and (min-device-width : 375px) and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
  .button-group {
    width: 28%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
}


/*iPad portrait*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : portrait){
  .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPad landscape*/
@media only screen
and (min-device-width : 768px) and (max-device-width : 1024px)
and (orientation : landscape){
  .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPad PRO portrait*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : portrait) {
    .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
}

/*iPad PRO andscape*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1366px)
and (orientation : landscape) {
  .button-group {
    width: 26%;
    margin-top: -69px;
  }
  .note {
    height: 140px;
  }
  #name {
    font-size: 23px;
    padding-left: 31px;
  }
  .name {
    margin-top: 28px;
  }
}

